.App {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; }
  .App .cool-border {
    width: 95%;
    height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: transparent;
    border: 2px solid #141414; }
  .App .top {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 3; }
    .App .top .social-links {
      z-index: 99;
      background: transparent;
      width: 20%;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .App .top .social-links a i {
        font-size: 20px;
        margin-top: 10px;
        color: #141414;
        transition: 0.3s ease; }
        .App .top .social-links a i:hover {
          color: #646464; }
    .App .top .navigation-column {
      z-index: 99;
      width: 15%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column; }
      .App .top .navigation-column a {
        text-decoration: none; }
        .App .top .navigation-column a p {
          text-align: left;
          color: #141414;
          font-size: 30px;
          margin: 10px 0 10px 10px;
          font-weight: lighter;
          border-bottom: 2px solid transparent;
          transition: 0.6s ease; }
          .App .top .navigation-column a p:hover {
            color: #646464;
            border-bottom: 2px solid #646464; }
    .App .top .title {
      z-index: 99;
      width: 65%;
      height: 100vh; }
      .App .top .title p {
        transform: rotate(-90deg);
        font-size: 60px;
        font-weight: thin;
        color: #141414;
        border-bottom: 2px solid #141414;
        background-color: white; }
  .App .random-images {
    width: 100%;
    height: 300vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1; }
    .App .random-images .first-image {
      background-color: red;
      width: 300px;
      height: 500px;
      position: absolute;
      top: 200px;
      right: 150px; }
    .App .random-images .second-image {
      background-color: blue;
      width: 400px;
      height: 550px;
      position: absolute;
      top: 80vh;
      right: 700px; }
    .App .random-images .third-image {
      background-color: pink;
      width: 600px;
      height: 400px;
      position: absolute;
      top: 150vh;
      left: 150px; }
    .App .random-images .fourth-image {
      background-color: green;
      width: 500px;
      height: 700px;
      position: absolute;
      top: 210vh;
      left: 50%; }
