.App {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; }
  .App .cool-border {
    width: 95%;
    height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: transparent;
    border: 2px solid #141414; }
  .App .top {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 3; }
    .App .top .social-links {
      z-index: 99;
      background: transparent;
      width: 20%;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .App .top .social-links a i {
        font-size: 20px;
        margin-top: 10px;
        color: #141414;
        transition: 0.3s ease; }
        .App .top .social-links a i:hover {
          color: #646464; }
    .App .top .navigation-column {
      z-index: 99;
      width: 15%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column; }
      .App .top .navigation-column a {
        text-decoration: none; }
        .App .top .navigation-column a p {
          text-align: left;
          color: #141414;
          font-size: 30px;
          margin: 10px 0 10px 10px;
          font-weight: lighter;
          border-bottom: 2px solid transparent;
          transition: 0.6s ease; }
          .App .top .navigation-column a p:hover {
            color: #646464;
            border-bottom: 2px solid #646464; }
    .App .top .title {
      z-index: 3;
      width: 65%;
      height: 100vh; }
      .App .top .title p {
        transform: rotate(-90deg);
        font-size: 60px;
        font-weight: thin;
        color: #141414;
        border-bottom: 2px solid #141414;
        background-color: white; }
  .App .random-images {
    width: 100%;
    height: 300vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 3; }
    .App .random-images .first-image {
      z-index: 4;
      width: 300px;
      height: 500px;
      position: absolute;
      top: 200px;
      right: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("./images/old-vertical-compressor.jpg");
      filter: grayscale(100%);
      transition: 1s ease; }
      .App .random-images .first-image:hover {
        filter: grayscale(0%); }
    .App .random-images .second-image {
      width: 700px;
      height: 550px;
      position: absolute;
      top: 80vh;
      left: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("./images/horizontal1-compressor.jpg");
      filter: grayscale(100%);
      transition: 1s ease; }
      .App .random-images .second-image:hover {
        filter: grayscale(0%); }
    .App .random-images .third-image {
      width: 600px;
      height: 400px;
      position: absolute;
      top: 150vh;
      left: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("./images/horizontal2-compressor.jpg");
      filter: grayscale(100%);
      transition: 1s ease; }
      .App .random-images .third-image:hover {
        filter: grayscale(0%); }
    .App .random-images .fourth-image {
      width: 500px;
      height: 700px;
      position: absolute;
      top: 210vh;
      left: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("./images/kiyomizu-vertical-compressor.jpg");
      filter: grayscale(100%);
      transition: 1s ease; }
      .App .random-images .fourth-image:hover {
        filter: grayscale(0%); }
    .App .random-images .first-content {
      font-size: 20px;
      width: 500px;
      height: 550px;
      position: absolute;
      top: 80vh;
      right: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .App .random-images .first-content p {
        background-color: white;
        font-weight: 200; }
    .App .random-images .second-content {
      width: 800px;
      height: 400px;
      position: absolute;
      top: 150vh;
      right: 102px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .App .random-images .second-content p {
        background-color: white;
        font-weight: 200;
        font-size: 35px;
        border-bottom: 1px solid #141414; }
    .App .random-images .cool-brackets {
      width: 50px;
      height: 400px;
      position: absolute;
      top: 150vh;
      left: 1000px;
      background-color: transparent;
      border-top: 1px solid #141414;
      border-bottom: 1px solid #141414;
      border-right: 1px solid #141414; }
    .App .random-images .third-content {
      width: 700px;
      height: 700px;
      position: absolute;
      background-color: transparent;
      top: 210vh;
      left: 100px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .App .random-images .third-content blockquote {
        font-size: 18px;
        font-style: italic;
        width: 500px;
        margin: 0.25em 0;
        padding: 0.35em 40px;
        line-height: 1.45;
        position: relative;
        color: #141414; }
        .App .random-images .third-content blockquote:before {
          display: block;
          padding-left: 10px;
          content: "\201C";
          font-size: 80px;
          position: absolute;
          left: -20px;
          top: -20px;
          color: #7a7a7a; }
        .App .random-images .third-content blockquote cite {
          color: #999999;
          font-size: 14px;
          display: block;
          margin-top: 5px; }
          .App .random-images .third-content blockquote cite:before {
            content: "\2014 \2009"; }
