.App {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  .cool-border {
    width: 95%;
    height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: transparent;
    border: 2px solid #141414;
  }
  .top {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 3;
    .social-links {
      z-index: 99;
      background: transparent;
      width: 20%;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      a {
        i {
          font-size: 20px;
          margin-top: 10px;
          color: #141414;
          transition: 0.3s ease;
          &:hover {
            color: #646464;
          }
        }
      }
    }
    .navigation-column {
      z-index: 99;
      width: 15%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      a {
        text-decoration: none;
        p {
          text-align: left;
          color: #141414;
          font-size: 30px;
          margin: 10px 0 10px 10px;
          font-weight: lighter;
          border-bottom: 2px solid transparent;
          transition: 0.6s ease;
          &:hover {
            color: #646464;
            border-bottom: 2px solid #646464;
          }
        }
      }
    }
    .title {
      z-index: 3;
      width: 65%;
      height: 100vh;
      // display: flex;
      // justify-content: flex-end;
      // flex-direction: column;
      // align-items: center;
      p {
        transform: rotate(-90deg);
        // top: 70px;
        // transform-origin: left top 50px;
        font-size: 60px;
        font-weight: thin;
        color: #141414;
        // text-decoration: underline;
        border-bottom: 2px solid #141414;
        background-color: white;
      }
    }
  }
  .random-images {
    width: 100%;
    height: 300vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 3;
    .first-image {
      z-index: 4;
      width: 300px;
      height: 500px;
      position: absolute;
      top: 200px;
      right: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("./images/old-vertical-compressor.jpg");
      filter: grayscale(100%);
      transition: 0.5s ease;
      &:hover {
        filter: grayscale(0%);
      }
    }
    .second-image {
      width: 700px;
      height: 550px;
      position: absolute;
      top: 80vh;
      right: 700px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("./images/horizontal1-compressor.jpg");
      filter: grayscale(100%);
      transition: 0.5s ease;
      &:hover {
        filter: grayscale(0%);
      }
    }
    .third-image {
      width: 600px;
      height: 400px;
      position: absolute;
      top: 150vh;
      left: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("./images/horizontal2-compressor.jpg");
      filter: grayscale(100%);
      transition: 0.5s ease;
      &:hover {
        filter: grayscale(0%);
      }
    }
    .fourth-image {
      width: 500px;
      height: 700px;
      position: absolute;
      top: 210vh;
      left: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("./images/kiyomizu-vertical-compressor.jpg");
      filter: grayscale(100%);
      transition: 0.5s ease;
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}
