.App {
  margin: 0;
  padding: 0; }

.App {
  color: #141414;
  font-family: "Lato", sans-serif; }
  .App .side-bar {
    z-index: 3;
    box-shadow: 0 0 5px black;
    background-color: white;
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    .App .side-bar .top-content {
      width: 95%;
      height: 30%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
    .App .side-bar .bottom-content {
      width: 95%;
      height: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
  .App .main-content {
    width: calc(100vw - 120px);
    height: 100vh;
    position: relative;
    top: 0;
    left: 120px;
    color: white;
    display: flex;
    flex-direction: column; }
    .App .main-content .top-pics {
      width: 100%;
      height: 40%;
      display: flex;
      font-size: 30px;
      letter-spacing: 20px;
      font-weight: 100; }
      .App .main-content .top-pics .inner {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white; }
      .App .main-content .top-pics .first-image {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(to bottom right, rgba(255, 170, 249, 0.2), rgba(255, 170, 249, 0.2)), url("../geisha-compressed.jpg");
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease; }
        .App .main-content .top-pics .first-image:hover {
          cursor: pointer;
          box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5); }
      .App .main-content .top-pics .second-image {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(to bottom right, rgba(255, 170, 249, 0.2), rgba(255, 170, 249, 0.2)), url("../fuji-compressed.jpg");
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease; }
        .App .main-content .top-pics .second-image:hover {
          cursor: pointer;
          box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5); }
    .App .main-content .bottom-pics {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      letter-spacing: 20px;
      font-weight: 100; }
      .App .main-content .bottom-pics .banner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(to bottom right, rgba(255, 170, 249, 0.2), rgba(255, 170, 249, 0.2)), url("../lantern-compressed.jpg");
        transition: 0.3s ease; }
        .App .main-content .bottom-pics .banner:hover {
          cursor: pointer;
          box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5); }
